@import '../../css/base.scss';

.navBarContainer{
    background-color: var(--clr-input-primary-1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1.5rem;
    /*nav Buttons*/
    button{
        color: var(--clr-light-1);
        border: none;
        font-size: large;
        font-weight: bold;
        white-space: nowrap;
        cursor: pointer;
        background: transparent;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        padding-block: 1.5rem;
        padding-inline: 3rem;
    }
    button.selected{
        color: var(--clr-primary-black);
        background-color: var(--clr-light-1);
    }
}